.vbn .groupWrapper {
    border-radius: 5px;
    border: 3px;
    border-color: gray;
    border-style: solid;
    padding: 5px;
}

.vbn .groupsWrapper, .vbn .groupWrapper, .vbn .itemsWrapper, .vbn .valueWrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.vbn .groupsWrapper {
    row-gap: 10px;
}

.vbn .itemsWrapper {
    row-gap: 10px;
}

.vbn .itemsWrapper:first-child {
    row-gap: 0px;
}

.vbn .itemTitle {
    text-align: left;
    text-decoration: underline;
}

.vbn .itemWrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.vbn .valuesWrapper {
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: 15px;
}

.vbn .valueWrapper {
    position: relative;
}

.vbn .valueIcon {
    font-size: 15px;
    display: block;
    z-index: 5;
}

.vbn .valueImgIcon {
    width: 15px;
}
/*
.vbn .red .valueImgIcon {
    fill: red;
    filter: brightness(0) saturate(100%) invert(22%) sepia(90%) saturate(4983%) hue-rotate(352deg) brightness(91%) contrast(127%);
} */

.vbn .wrap1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* position: absolute;
    top: 20px;
    z-index: 10; */
}
