.MMM-ValuesByNotification .vbn.flowercare .valueIcon {
    font-size: 20px;
}
  
.MMM-ValuesByNotification .vbn.flowercare .valueImgIcon {
    width: 50px;
}
  
.MMM-ValuesByNotification .vbn.flowercare .valueImgIcon.moisture {
    margin-right: 15px;
    /*https://codepen.io/sosuke/pen/Pjoqqp
      start with filter: brightness(0) saturate(100%) to make sure the old colore is cleared first
    */
    filter: brightness(0) saturate(100%) invert(18%) sepia(59%) saturate(3504%) hue-rotate(121deg) brightness(93%) contrast(98%);
}
  
.MMM-ValuesByNotification .vbn.flowercare .itemIcon {
    display: none;
}
  
.MMM-ValuesByNotification .vbn.flowercare .itemWrapper.bat-lt5 .itemIcon,  .MMM-ValuesByNotification .vbn.flowercare .itemWrapper.bat-lt10 .itemIcon{
    display: block;
    margin-bottom: 10px;
}
  
.MMM-ValuesByNotification .vbn.flowercare .itemWrapper.bat-lt5 .itemIcon{
    color: red;
}
  
.MMM-ValuesByNotification .vbn.flowercare .itemWrapper.bat-lt10 .itemIcon{
    color: yellow;
}
  
.MMM-ValuesByNotification .vbn.flowercare .groupWrapper{
    border-style: none;
}