.MMM-ValuesByNotification .vbn .itemWrapper {
  flex-direction: row;
}

.MMM-ValuesByNotification .vbn .itemTitle {
  min-width: 105px;
  text-decoration: none;
}

.MMM-ValuesByNotification .vbn .itemTitle.withIcons {
  margin-top: 17px;
}

.MMM-ValuesByNotification .vbn .itemWrapper.withIcons {
  line-height: 22px;
}

.MMM-ValuesByNotification .vbn .itemWrapper:not(.withIcons) {
  line-height: 10px;
}
