.MMM-ValuesByNotification .vbn.environment.groups{
  min-width: 300px;
}

.MMM-ValuesByNotification .vbn .groupsWrapper {
  row-gap: 0px;
}

.MMM-ValuesByNotification .vbn.environment .itemsWrapper{
  flex-direction: row;
  column-gap: 20px;
}

.MMM-ValuesByNotification .vbn.environment .itemWrapper{
  width: 100%;
}

.MMM-ValuesByNotification .vbn.vbn.environment .valuesWrapper, .MMM-ValuesByNotification .vbn.vbn.environment .itemsWrapper, .MMM-ValuesByNotification .vbn.vbn.environment .groupWrapper{
  width: 100%
}

.MMM-ValuesByNotification .vbn.environment .valueWrapper{
  flex-direction: row;
  justify-content: left;
  row-gap: 10px;
  align-items: unset;
}

.MMM-ValuesByNotification .vbn.environment .valueTitle{
  min-width: 110px;
  text-align: left;
}

.MMM-ValuesByNotification .vbn.environment .valueIcon {
  font-size: 17px;
  margin-top: 6px;
  margin-right: 5px;
}

.MMM-ValuesByNotification .vbn.environment .value {
  margin-right: 3px;
  min-width: 45px;
  text-align: right;
}

.MMM-ValuesByNotification .vbn.environment .groupWrapper.zisterne {
  margin-top: 10px;
}

.MMM-ValuesByNotification .vbn.environment .zisterne .valueWrapper {
  flex-direction: column;
  justify-content: center;
  row-gap: 0px;
  align-items: center;
}

.MMM-ValuesByNotification .vbn.environment .zisterne .valuesWrapper {
  width: 100%;
  justify-content: right;
}

.MMM-ValuesByNotification .vbn.environment .zisterne .valueTitle {
  min-width: auto;
}

.MMM-ValuesByNotification .vbn.environment .zisterne .value {
  min-width: auto;
}

.MMM-ValuesByNotification .vbn.environment .zisterne .valueImgIcon {
  width: 50px;
}

.MMM-ValuesByNotification .vbn.environment .zisterne .itemWrapper {
  width: auto;
}

.MMM-ValuesByNotification .vbn.environment .zisterne .itemsWrapper {
  display:block;
}

.MMM-ValuesByNotification .vbn .groupsWrapper {
  row-gap: 0px;
}

.MMM-ValuesByNotification .vbn .groupWrapper {
  border-style: none;
  padding: 0px;
}